
// Resme styles
// ---------------------------------------/

// util

.section-header {
  @include section_border;
  margin-top: 0;
  margin-bottom: 0.3rem;

  h2 {
    @include sans_extrabold;
    font-size: 1.1rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
}

.shaded-bar {
  @include clearfix;
  background-color: $shaded;
  @media print { -webkit-print-color-adjust: exact; }
  .section-header { @include section_border_dark; }
}
// page header styles

.page-header {
  padding-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  .avatar {
    width: 95px;
    max-width: 100%;
    overflow: hidden;
    @include border-radius(100px);
    margin: 0 auto;
    display: inline-block;
  }

  .name-and-title{
    width: 480px;
    display: inline-block;
    vertical-align: top;

    .header-name {
      @include sans_extrabold;
      font-size: 3rem;
      text-align: center;
      letter-spacing: -.15rem;
      line-height: 1;
      margin: 0;
    }

    .header-title {
      @include sans_regular;
      font-size: 1.75rem;
      text-align: center;
      line-height: 2rem;
      letter-spacing: -.05rem;
      margin: 0;
    }
  }

  .contact-info {
    width: 95px;
    font-size: 0.50rem;
    vertical-align: top;
    display: inline-block;
    text-align: right;
    margin: 1rem 0 2rem;
  }

    // social links and education
    .shaded-top-right-side {
      float: right;
      padding-left: 1rem;
      padding-right: 1rem;

      // social links in icon-link area

      // education
      .content-section{
        margin-top: 1rem;
      }
      .resume-item {
        @include clearfix;
        padding-top: .3rem;
      }
    }

    // summary and recent experience
    .shaded-top-left-side {
      .executive-summary {
        @include sans;
        text-align: justify;
        text-justify: inter-word;
        font-size: 0.75rem;
        padding-left: 0.6rem;
      }
      .resume-item {
        padding-left: 0.6rem;
      }
    }

}

.icon-links {
  margin-top: 0.5rem;
  padding: 0;
  font-size: 0.6rem;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: left;
  border-top: 2px solid #c7c7c7;
  padding-top: .4rem;
  border-top: none;
  padding-top: 0;

  .icon-link-item {
    margin: 0px;

    path {
      fill: #fff;
    }


    .icon-link {
      text-decoration: none;
      color: #fff;
      &:visited {
        color: #fff;
      }
      // Text hover
      &:hover {
        border-bottom: none;
        color: #000;
        @include transition(all .2s ease);
      }
      // Icon hover
      &:hover .icon path {
        fill: #000;
        @include transition(all .2s ease);
      }
      .print_link {
        @include sans_bold;
        display: inline-block;
        vertical-align: top;
        height: 28px;
        line-height: 28px;
        margin-left: 0.2rem;
        font-size: 0.7rem;
      }
    }
  }
}

.contact-button {
  @include border-radius(3px);
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  width: 220px;
  font-size: 1.375rem;
  @include sans_light;
  color: #333;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }
}

// resume content styles

.content-section {
  margin-bottom: 0.2rem;

  .client-item {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    letter-spacing: -.05rem;
    text-align: justify;
    text-justify: inter-word;

    .client-name {
      @include sans_extrabold;
      font-size: 0.8rem;
    }
    .client-description {
      @include sans;
      font-size: 0.7rem;
    }
  }


  .resume-item { margin-bottom: 0.5rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 .2rem;
    font-size: 0.8rem;
    letter-spacing: -.05rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 0.65rem;
    margin: 0;
    line-height: 1;
    .publication-link {
      color: $links;;
      font-size: 0.5rem;
    }
  }

  .resume-item-list {
    font-size: 0.6rem;
    margin-top: 0.1rem;
    margin-bottom: 0;
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    @include sans;
    text-align: justify;
    text-justify: inter-word;
    a {
      color: #333;

      &:hover {
        border-bottom: none;
        color: $links-hover;
      }
    }
  }

  .resume-item-copy {
    font-size: 0.6rem;
    margin: 0;
  }
}

// Shaded project and skill area

.shaded-bottom-left-side {
  display: inline-block;
  vertical-align: top;
  h2 {
    padding-left: 0.6rem;
  }
  .resume-item {
    padding-left: 0.6rem;
    margin-top: 0.5rem;
  }
}
.shaded-bottom-right-side {
  display: inline-block;
  vertical-align: top;
  h2 {
    padding-left: 1rem;
  }
}
.skills {
  padding-left: 1rem;
}
.skill-column {
  display: inline-block;
  vertical-align: top;

  .skill-name {
    @include sans_bold;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .skill-items {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
  }
  .skill-item {
    @include sans;
    list-style: none;
    margin: 0;
  }
}

// Clear bottom area below shaded bar
.clear-bar {
  margin-bottom: 1.5rem;
}
.clear-bottom-left-side {
  vertical-align: top;
  display: inline-block;
  .resume-item {
    margin-bottom: 0.2rem;
  }
  .publication-title {
    margin-bottom: .15rem;
  }
}
.clear-bottom-right-side {
  vertical-align: top;
  display: inline-block;
  h2 {
    padding-left: 0.6rem;
  }
  .resume-item {
    padding-left: 0.6rem;
  }
}

// footer styles
.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;

    > a {
      @include sans_bold;
      color: #333;
    }
  }
}
