// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;
$links:             #666;
$links-hover:       #9c9c9c;
$shaded:            #c7c7d7; // Touch of blue
//$shaded:            #eee; // Grey
$title-border:      #c7c7c7;
$title-border-dark: #666;

// Styles
$text_color:        $black;

// Font stack
//$body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
