<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <header class="page-header">
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}
        <div class="name-and-title">
          <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
        </div>
        <div class="contact-info">
            {{ site.resume_contact.phone }} <br />
            {{ site.resume_contact.address1 }} <br />
            {{ site.resume_contact.address2 }} <br />
            {{ site.resume_contact.email }}
        </div>
        <div class="shaded-bar">
          <div class="shaded-top-right-side one-third">

            {% include icon-links.html %}

            {% if site.resume_section_education %}
            <!-- begin Education -->
            <section class="content-section">
              {% for education in site.resume_educations %}
              <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
                  <h3 class="resume-item-title" itemprop="name">
                    {{ education.degree }} of {{ education.subject }}
                  </h3>
                  <h4 class="resume-item-details" itemprop="description">
                    {{ education.end }}
                      &bull;
                    {{ education.organization }}
                  </h4>
                  {% for bullet in education.bullets %}
                  <p class="resume-item-copy"> &bull; {{ bullet }}</p>
                  {% endfor %}
              </div>
              {% endfor %}
            </section>
            <!-- end Education -->
            {% endif %}

        </div> <!-- end of shaded-top-right-side -->

          <div class="shaded-top-left-side two-thirds">
            <div class="executive-summary" itemprop="description">
              <p>{{ site.resume_summary }}</p>
            </div>

            {% if site.resume_section_experience %}
            <!-- begin Experience -->
            <section class="content-section">
              {% for experience in site.resume_experiences %}
              <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                  <h3 class="resume-item-title" itemprop="name">{{ experience.organization }} &bull; {{ experience.title }} &bull; {{experience.location}}</h3>
                  <p class="resume-item-copy"> {{ experience.start }} &mdash; {{ experience.end }} &bull; {{ experience.description }}</p>
                <ul class="resume-item-list">
                  {% for bullet in experience.bullets %}
                  <li>{{ bullet }}</li>
                  {% endfor %}
                </ul>
              </div><!-- end of resume-item -->
              {% endfor %}
            </section>
            <!-- end Experience -->
            {% endif %}

          </div> <!-- end shaded-top-left-side -->
        </div> <!-- end shaded-bar -->
        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}
      </header>

      {% if site.resume_section_clients %}
      <!-- begin Clients -->
      <section class="content-section">
        <header class="section-header">
          <h2>Client Engagements</h2>
        </header>
        <div class="resume-item">
          {% for client in site.resume_clients %}
          <div class="resume-item-list">
            <p class="client-item">
              <span class="client-name">
                {{ client.name }}
              </span>
              <span class="client-description">
                &bull; {{ client.description }}
              </span>
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- end Clients -->
      {% endif %}

      <div class="shaded-bar">
        <div class="shaded-bottom-left-side one-third">

          {% if site.resume_section_projects %}
          <!-- begin Projects -->
          <section class="content-section">
            <header class="section-header">
              <h2>Projects</h2>
            </header>
            {% for project in site.resume_projects %}
            <div class="resume-item">
              <h3 class="resume-item-details">
                {{ project.name }}
                &bull;
                {{ project.role }}
              </h3>
              <p class="resume-item-copy">
                {{ project.start }} &mdash; {{ project.end }}
                &bull;
                {{ project.description }}
              </p>
            </div>
            {% endfor %}
          </section>
          <!-- end Projects -->
          {% endif %}

        <!-- end shaded-bottom-left-side -->
        </div><div class="shaded-bottom-right-side two-thirds">

          {% if site.resume_section_skills %}
          <!-- begin Skills -->
          <section class="content-section">
            <header class="section-header">
              <h2>Skills</h2>
            </header>

            <div class="skills">
              {% for skill in site.resume_skills %}
              <div class="skill-column one-fourth">
                <h4 class="skill-name">{{ skill.name }}</h4>
                <ul class="skill-items">
                {% for skill_item in skill.skill_items %}
                  <li class="skill-item">{{ skill_item.name }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
          </section>
          <!-- end Skills -->
          {% endif %}

        </div> <!-- end shaded-botom-right-side -->

      </div> <!-- end shaded-bar -->

      <div class="clear-bar">
        <div class="clear-bottom-left-side two-thirds">

          {% if site.resume_section_publications %}
          <!-- begin Publications -->
          <section class="content-section">
            <header class="section-header">
              <h2>Publications</h2>
            </header>
            {% for publication in site.resume_publications %}
            <div class="resume-item">
              <h3 class="resume-item-details publication-title">
                  {{ publication.title }}
                  {% for link in publication.links %}
                    [
                      <a class="publication-link" href="{{ link }}" target="_blank">
                      Link
                      {{ forloop.index }}
                      </a>
                    ]
                  {% endfor %}
              </h3>
              <p class="resume-item-copy">
                  {{ publication.year }}
                  &bull;
                  {{ publication.description }}
              </p>
            </div>
            {% endfor %}
          </section>
          <!-- end Publications -->
          {% endif %}

        <!-- end clear-botom-left-side -->
        </div><div class="clear-bottom-right-side one-third">

          {% if site.resume_section_recognition %}
          <!-- begin Recognition -->
          <section class="content-section">
            <header class="section-header">
              <h2>Recognition</h2>
            </header>
            {% for recognition in site.resume_recognitions %}
            <div class="resume-item">
              <h3 class="resume-item-title" itemprop="award">{{ recognition.title }}</h3>
              <h4 class="resume-item-details">{{ recognition.details }}</h4>
              <p class="resume-item-copy">{{ recognition.description }}</p>
            </div>
            {% endfor %}
          </section>
          <!-- end Recognition -->
          {% endif %}

          {% if site.resume_section_certifications %}
          <!-- begin Certifications -->
          <section class="content-section">
            <header class="section-header">
              <h2>Certifications</h2>
            </header>
            {% for certification in site.resume_certifications %}
            <div class="resume-item">
              <h3 class="resume-item-details">
                {{ certification.title }}
              </h3>
              <p class="resume-item-copy">
                {{ certification.year }}
                &bull;
                <a target="_blank" href="{{ certification.link }}">
                  {{ certification.authority }}
                  {{ certification.license_number }}
                </a>
              </p>
            </div>
            {% endfor %}
          </section>
          <!-- end Certifications -->
          {% endif %}

        </div> <!-- end clear-botom-right-side -->
      </div> <!-- end clear-bar -->

      {% if site.resume_section_footer %}
      <footer class="page-footer">
        <p class="footer-line"><a href="mailto://{{ site.resume_contact.email }}">Contact Me</a>.</p>
      </footer>
      {% endif %}

    </div>

  </body>

</html>
